<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chulkify">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_logo_ico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_logo_ico_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".cargar_retiro"></activity>
        <activity android:name=".cargar_transacciones" />
        <activity android:name=".retiro" />
        <activity android:name=".Aportar" />
        <activity android:name=".AportesActivity" />
        <activity
            android:name=".Soli_notifi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu_inicio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cargar3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".espera_soli"
            android:screenOrientation="portrait" />
        <activity
            android:name=".inicio"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cargar_2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".unir_comunidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cargar_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu_comunidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nueva_comunidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".nuevo_usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:screenOrientation="portrait" />
    </application>

</manifest>